In [2]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt

In [3]:
DATA_PATH = "~/Documents/ml-25m"
MOVIES_PATH = DATA_PATH+"/movies.csv"
RATINGS_PATH = DATA_PATH+"/ratings.csv"
LINKS_PATH = DATA_PATH+"/links.csv"

In [4]:
movies = pd.read_csv(MOVIES_PATH)
ratings = pd.read_csv(RATINGS_PATH)
links = pd.read_csv(LINKS_PATH)

In [5]:
movies.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [6]:
ratings.head()
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [7]:
ratings[ratings["userId"] == 3][0:2]

     userId  movieId  rating   timestamp
254       3        1     4.0  1439472215
255       3       29     4.5  1484754967

In [8]:
movies.info(), ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62423 entries, 0 to 62422
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  62423 non-null  int64
 1   title    62423 non-null  object
 2   genres   62423 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000095 entries, 0 to 25000094
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 762.9 MB

(None, None)

In [9]:
#removing genre from movie dataset as it is extraneous and we have other datasets with it
movies = movies.loc[:,["movieId", "title"]]

#removing timestamp from ratings
ratings = ratings.loc[:,["userId", "movieId", "rating"]]

In [26]:
#merging both these to get master dataset
full_data = pd.merge(movies, ratings)

full_data = full_data.iloc[:100000,:]
full_data.size

400000

In [19]:
"""pivot = full_data.pivot_table(index=["userId"], columns=["title"], values=["rating"])
pivot.head(10)
pivot.columns"""

MultiIndex([('rating', 'Father of the Bride Part II (1995)'),
            ('rating',            'Grumpier Old Men (1995)'),
            ('rating',                     'Jumanji (1995)'),
            ('rating',                   'Toy Story (1995)'),
            ('rating',           'Waiting to Exhale (1995)')],
           names=[None, 'title'])

In [24]:
"""movie_watched = pivot[pivot["rating"]=="Jumanji (1995)"]
corr_value = pivot.corrwith(movie_watched) #finding corr value of everything with this movie
corr_value = corr_value.sort_values(ascending=False)
corr_value"""

        title
rating  Father of the Bride Part II (1995)   NaN
        Grumpier Old Men (1995)              NaN
        Jumanji (1995)                       NaN
        Toy Story (1995)                     NaN
        Waiting to Exhale (1995)             NaN
dtype: float64

In [27]:
full_data

       movieId                               title  userId  rating
0            1                    Toy Story (1995)       2     3.5
1            1                    Toy Story (1995)       3     4.0
2            1                    Toy Story (1995)       4     3.0
3            1                    Toy Story (1995)       5     4.0
4            1                    Toy Story (1995)       8     4.0
...        ...                                 ...     ...     ...
99995        5  Father of the Bride Part II (1995)   56621     3.0
99996        5  Father of the Bride Part II (1995)   56674     5.0
99997        5  Father of the Bride Part II (1995)   56680     4.0
99998        5  Father of the Bride Part II (1995)   56690     3.0
99999        5  Father of the Bride Part II (1995)   56695     3.0

[100000 rows x 4 columns]

In [30]:
full_data[full_data["userId"]==1]

Empty DataFrame
Columns: [movieId, title, userId, rating]
Index: []

# use proper 100k movielens data, the random cleaning and random use of some 100k as a loc taken from 25m is causing some issue in getting proper rating, movie id etc

In [31]:
# Download MovieLens data.
print("Downloading movielens data...")
from urllib.request import urlretrieve
import zipfile

urlretrieve("http://files.grouplens.org/datasets/movielens/ml-100k.zip", "movielens.zip")
zip_ref = zipfile.ZipFile('movielens.zip', "r")
zip_ref.extractall()
print("Done. Dataset contains:")
print(zip_ref.read('ml-100k/u.info'))

Downloading movielens data...
Done. Dataset contains:
b'943 users\n1682 items\n100000 ratings\n'