In [5]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt

In [28]:
DATA_PATH = "~/Documents/ml-25m"
MOVIES_PATH = DATA_PATH+"/movies.csv"
RATINGS_PATH = DATA_PATH+"/ratings.csv"
LINKS_PATH = DATA_PATH+"/links.csv"

In [29]:
movies = pd.read_csv(MOVIES_PATH)
ratings = pd.read_csv(RATINGS_PATH)
links = pd.read_csv(LINKS_PATH)

In [32]:
movies.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [31]:
ratings.head()
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [25]:
ratings[ratings["userId"] == 3][0:2]

     userId  movieId  rating   timestamp
254       3        1     4.0  1439472215
255       3       29     4.5  1484754967

In [27]:
movies.info(), ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62423 entries, 0 to 62422
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  62423 non-null  int64
 1   title    62423 non-null  object
 2   genres   62423 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000095 entries, 0 to 25000094
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 762.9 MB

(None, None)

In [33]:
#removing genre from movie dataset as it is extraneous and we have other datasets with it
movies = movies.loc[:,["movieId", "title"]]

#removing timestamp from ratings
ratings = ratings.loc[:,["userId", "movieId", "rating"]]

In [34]:
#merging both these to get master dataset
full_data = pd.merge(movies, ratings)
full_data.head(10)

   movieId             title  userId  rating
0        1  Toy Story (1995)       2     3.5
1        1  Toy Story (1995)       3     4.0
2        1  Toy Story (1995)       4     3.0
3        1  Toy Story (1995)       5     4.0
4        1  Toy Story (1995)       8     4.0
5        1  Toy Story (1995)      10     3.5
6        1  Toy Story (1995)      12     4.0
7        1  Toy Story (1995)      13     4.0
8        1  Toy Story (1995)      18     3.0
9        1  Toy Story (1995)      26     3.0

In [35]:
pivot = full_data.pivot_table(index=["userId"], columns=["title"], values=["rating"])
pivot.head(10)

KeyboardInterrupt: